/*公共样式的CSS*/

img{
    /*display: block;*/
    vertical-align: top; /*解决图片底侧有空白缝隙的问题*/
}
.w{ /*版心的公共类*/
    width: 1190px;  /*JD的版心是1190px/设置为水平居中*/
    margin: 0 auto;
}
.fl{ /*浮动的公共类*/
    float: left;
}
.fr{/*浮动的公共类*/
    float: right;
}a{ /*取消下划线/设置颜色/大小*/
     text-decoration: none;
     font-size: 12px;
     color: #999999;
 }
 a:hover{
     color: #c81623;
 }
blockquote,body,button,dd,dl,dt,fieldset,form,
h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,
td,textarea,th,ul{
    margin: 0;
    padding: 0;
}
input,button{
    border: 0;
    outline: none; /*取消轮廓边框*/
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{ /*设置网页背景色*/
    background-color: #f6f6f6;
}
.f10{ /*设置该类颜色*/
    color: #f10215!important;/*设置更高权重*/
}
@font-face { /*声明字体*/
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?r5tos9');
    src:  url('../fonts/icomoon.eot?r5tos9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r5tos9') format('truetype'),
    url('../fonts/icomoon.woff?r5tos9') format('woff'),
    url('../fonts/icomoon.svg?r5tos9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*以上是公共类*/

/*头部开始*/

    /*顶部广告部分*/
header{/*设置头部高度/背景色*/
    height: 80px;
    background-color: #020000;
    /*overflow: hidden;*/
}

    /*快速导航栏部分*/

.shortcut{ /*设置快速导航栏中内容的高度/行高/背景色/底部边框*/
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.city{ /*设置类的外边距*/
    margin-left: 200px;
}
.shortcut li{
    float: left;
}
.shortcut i{
    font-family: 'icomoon',monospace;
    font-style: normal; /*取消倾斜*/
    color: #cccccc;
}
.space{ /*设置小竖线的宽高*/
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 10px 12px 0;/*上10，左右12，下0*/
}
.mobile{ /*子绝父相，设置该类相对定位*/
    position: relative;
}
.mobile img{ /*设置该类中的图片绝对定位/边框/内边距*/
    position: absolute;
    left: -3px;
    top: 24px;
    border: 1px solid #ccc;
    padding: 3px;
}

/*头部结束*/
/*中间开始*/

.middle{ /*设置该类高度/背景色/相对定位*/
    height: 140px;
    /*background-color: pink;*/
    position: relative;
}

    /*logo部分*/

.logo{ /*设置该类绝对定位/*/
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0 -10px 10px rgba(0,0,0,.3);
}
.logo a{ /*设置该类中a元素db/宽高/背景图片及底色*/
    display: block;
    width: 190px;
    height: 170px;
    background: #fff url(../images/logo.png) no-repeat;
}

    /*搜索框部分*/

.form{ /*设置该类宽高/绝对定位*/
    width: 550px;
    height: 35px;
    /*background-color: pink;*/
    position: absolute;
    top: 25px;
    left: 320px;
}
.form input{ /*设置该类中内容宽高/边框/左浮动/字体大小/左内边距*/
    width: 495px;
    height: 33px;
    /*background-color: skyblue;*/
    border: 1px solid #f10215;
    float: left;
    font-size: 14px;
    padding-left: 3px;
}
.form button{ /*设置该类内容宽高/背景色/左浮动*/
    width: 50px;
    height: 35px;
    background-color: #f10215;
    float: left;
}
.form button i{ /*设置该类内容声明字体/取消倾斜/设置颜色*/
    font-family: 'icomoon',monospace; /*ico图标需设置monospace避免报错*/
    font-style: normal; /*取消倾斜*/
    color: #fff;
}

    /*购物车部分*/

.shopCar{ /*设置类整体宽高/行高/边框/绝对定位/背景色/文字居中/颜色*/
    width: 188px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    right: 95px;
    top: 25px;
    background-color: #fff;
    text-align: center;
    color: #f10215;
}
.shopCar i{ /*设置类中图标*/
    font-family: 'icomoon',monospace; /*ico图标需设置monospace避免报错*/
    font-style: normal; /*取消倾斜*/
    margin-right: 5px;
}
.shopCar span{ /*设置类中元素宽高/背景色/圆角/绝对定位/字体大小/颜色/行高*/
    width: 15px;
    height: 15px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;/*添加了绝对定位、固定定位、浮动的行内元素可以不用转换，直接给宽高。*/
    top: 5px;right: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}

    /*关键词部分*/

.hotwords{
    position: absolute;
    top: 68px;
    left: 320px;
}

    /*小导航栏部分*/

.navitems{ /*设置宽高/绝对定位/行高*/
    width: 770px;
    height: 40px;
    /*background-color: purple;*/
    position: absolute;
    bottom: 0;
    left: 200px;
    line-height: 40px;
}
.navitems li{ /*设置向左浮动/左外边距*/
    float: left;
    margin-left: 30px;
}
.navitems li a{ /*设置字号/行宽/字色*/
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}
.navitems li a:hover{ /*设置悬停时字色*/
    color: #f10215;
}
.navitems .space{ /*设置上、左、下、右外边距*/
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    /*margin-right: -15px;*/
    margin: 15px -15px 0 15px;
}
    /*超级日部分*/

.super{
    position: absolute;
    bottom: 10px;right: 0;
}

/*中间部分结束*/
/*底部部分开始*/

footer{
    height: 500px;
    background-color: #EAEAEA;
    margin-top: 35px;
}
footer a:hover{
    color: #c81623;
}

    /*服务模块部分*/

.service{ /*设置该类内边距/边框/清除浮动*/
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
    overflow: hidden; /*清除浮动*/
}
.service ul li{ /*设置类元素宽高/相对定位/行高/向左浮动/字体/颜色*/
    width: 297px;
    height: 43px;
    /*background-color: purple;*/
    position: relative;
    line-height: 43px;
    float: left;
    font-size: 18px;
    color: #444444;
}
.service li h5{ /*设置类元素绝对定位/宽高/背景图片/移除文字*/
    position: absolute;
    top: 0;left: 38px;
    width: 36px;
    height: 43px;
    background: url("../images/ico.png") no-repeat;
    /*text-indent: -9999px;*/
}
.service li:nth-child(2) h5{ /*设置另外三个类元素*/
    background-position: 0 -43px;
}
.service li:nth-child(3) h5{
    background-position: 0 -86px;
}
.service li:nth-child(4) h5{
    background-position: bottom;
}
.service li p{ /*设置类元素行宽/左外边距*/
    font-weight: 700;
    margin-left: 82px;
}

    /*帮助模块左侧*/
.help{ /*设置该类高度/边框/顶部内边距/盒子属性*/
    height: 200px;
    border-bottom: 1px solid #dedede;
    padding-top: 25px;
    box-sizing: border-box;
}
.help dl{ /*设置该类宽度/向左浮动*/
    width: 192px;
    float: left;
}
.help dt,
.coverage h5{ /*设置这两类高度/颜色/字号*/
    height: 30px;
    color: #666666;
    font-size: 14px;
}
.help dd{
    height: 22px;
    color: #666666;
    font-size: 12px;
}

    /*帮助模块右侧*/
.coverage{ /*设置该类宽高/背景图片*/
    width: 200px;
    height: 150px;
    background: url("../images/ico_footer.png") no-repeat;
}
.coverage h5{ /*设置左内边距*/
    padding-left: 35px;
}
.coverage p{ /*设置字号/颜色/行高/宽度*/
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    width: 180px;
}
.coverage a{ /*设置盒子属性/上外边距/宽度/对齐方式*/
    display: block;
    margin-top: 5px;
    width: 180px;
    text-align: right;
}

    /*底部版权部分*/
.copyright{
    padding-top: 20px;
    text-align: center;
    color: #666666;
    font-size: 12px;
}
.copyright span{
    margin: 0 10px;
}
.copyright a{
    color: #666666;
}
.copyright div{
    margin-top: 20px;
}
.copyright div p{
    line-height: 22px;
}
.foot-icon a{
    display: inline-block;
    width: 103px;
    height: 33px;
    background: url("../images/ico_footer.png") no-repeat 0 -150px;
    margin: 20px 4px 0;
    text-align: center;/*行内块可以使用tac*/
}
.foot-icon a:nth-child(2){
    background-position: -103px -150px;
}
.foot-icon a:nth-child(3){
    background-position: 0 -183px;
}
.foot-icon a:nth-child(4){
    background-position: -103px -183px;
}
.foot-icon a:nth-child(5){
    background-position: 0 -216px;
}
.foot-icon a:nth-child(6){
    background-position: -103px -216px;
}
/*底部部分结束*/